:root{
    --primary-color-one: #3744c6;
    --menu-active-color: #3744c6;
    --primary-color-two: #222;
    --preloader-background-color: #3744c6;
}
.primarg_bg_color{
    background: var(--primary-color-one)!important;
    background-color: var(--primary-color-one)!important;
}
.primarg_border_color{
    border-color: var(--primary-color-one)!important;
}