/*
!wp-content/

!.gitignore

!wp-content/plugins/
!wp-content/plugins/**

!wp-content/themes/
!wp-content/themes/creote/
!wp-content/themes/creote/**
!wp-content/themes/creote-child/
!wp-content/themes/creote-child/**

!.github/
!.github/workflows/
!.github/workflows/deploy.yml
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/index.php
/wp-content/uploads/**
