:root{
    --creote-family-one: 'Spartan', sans-serif!important;
    --creote-family-two: 'Inter', sans-serif!important;
    --primary-color-one: #078586;
    --primary-color-two: #282f3b;
    --primary-color-three: #f0f3f9;
    --color-white:#fff;
    --primary-color-four:#fafcff;
    --text-color-dark: #4a4e56;
    --text-color-dark-two: #888888;
    --text-color-light: #aaafb8;
    --heading-dark: #282f3b;
    --link-color-dark: #282f3b;
    --border-color-dark: #e4e7ee; 
    --border-color-dark-two:#373e4a;
    --border-color-light: #fbfcfe;
    --menu-color: #282f3b;
    --menu-color-white: #ffffff;
    --menu-dropdown-color: #282f3b;
    --menu-active-color: #078586;
    //--page-header-default-bgcolor: #282f3b;
    --box-shadow: 0px 0px 40px 0px rgba(0,0,0,.09);
    --box-shadow-two: 0px 3px 16px 0px rgba(0 , 0 , 0 , .05);
    --footer-default-bgcolor: #1f2530;
    --preloader-background-color: #078586;
}


